snippet a "Link" i
<a href="${1:http://www.${2:url.com}}"${3: target="_blank"}>${4:Anchor Text}</a>
endsnippet

snippet ul "unordered list"
<ul>
    $0
</ul>
endsnippet

snippet img "Image"
<img src="${1}" alt="${2}">
endsnippet
